*.pyc
__pycache__/
.env
.venv/

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/crash.log
terraform/crash.*.log
terraform/*.tfvars

# Terraform state
terraform/**/*.tfstate
terraform/**/*.tfstate.*

# Terraform state
terraform/**/*.tfstate
terraform/**/*.tfstate.*

# Terraform working directories
**/.terraform/
